$size: 300px;

.rt-previous-rulings__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rt-previous-rulings__title {
  margin: 5px 0 29px;
}

.rt-previous-rulings__items {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  width: 100%;
}

.rt-previous-rulings__item {
  flex-shrink: 0;
  width: $size;
  height: $size;
}

@include md {
  .rt-previous-rulings__items {
    flex-wrap: wrap;
    overflow-y: visible;
    gap: 21px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($size, 1fr));
  }

  .rt-previous-rulings__item {
    width: auto;
  }
}