$size: 300px;

.rt-previous-rulings__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rt-previous-rulings__title {
  margin: 1px 0 25px;
}

.rt-previous-rulings__view-selector {
  display: none;
}

.rt-previous-rulings__items {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.rt-previous-rulings__item {
  flex-shrink: 0;
  width: $size;
  height: $size;
}

@include md {
  .rt-previous-rulings__title {
    margin: 5px 0 29px;
  }

  .rt-previous-rulings__view-selector {
    display: block;
  }

  .rt-previous-rulings__items {
    flex-wrap: wrap;
    overflow-x: visible;
    gap: 21px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($size, 1fr));
  }

  .rt-previous-rulings__item {
    width: auto;
    height: 351px;
  }

  .rt-previous-rulings--list {
    .rt-previous-rulings__items {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .rt-previous-rulings__item {
      width: 100%;
      height: 142px;
    }

    .rt-ruling__shadow {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 36px,
        #808080 166px,
        #5f5f5f 50%,
        rgba(51, 51, 51, 0.6) 71.88%
      );
      height: 100%;
      left: 22px;
    }

    .rt-ruling__status {
      top: 0;
      left: 0;
    }

    .rt-ruling__name {
      position: static;
    }

    .rt-ruling__name-text {
      @include multiline-text-ellipsis(1);
      font-size: $fs-mlg;
      left: 150px;
      bottom: 108px;
      position: absolute;
    }

    .rt-ruling__description {
      bottom: 60px;
      left: 150px;
      line-height: 16.8px;
      width: 342px;
      font-size: $fs-sm;
      line-height: 16.8px;
    }

    .rt-ruling__actions {
      bottom: 67px;
      right: 12px;
    }

    .rt-ruling__last-updated {
      top: 8px;
      right: 15px
    }

    .rt-ruling__picture {
      width: 216px;
      position: relative;
      left: -32px;
    }

    .rt-button--outline {
      background-color: rgba(48, 48, 48, 0.6);

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

@include lg {
  .rt-previous-rulings__items {
    gap: 27px;
  }

  .rt-previous-rulings__item {
    width: auto;
    height: 348px;
  }

  .rt-previous-rulings--list {
    .rt-previous-rulings__items {
      gap: 18px;
    }

    .rt-ruling__picture {
      width: 267px;
      left: 0;
    }

    .rt-ruling__shadow {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 112px,
        #808080 247px,
        #5f5f5f 50%,
        rgba(51, 51, 51, 0.6) 71.88%
      );
    }

    .rt-ruling__last-updated {
      font-size: $fs-base;
      font-weight: 700;
      right: 12px;
    }

    .rt-ruling__actions {
      gap: 9px;
      bottom: 79px;
    }

    .rt-icon {
      transform: scale(1.4);
    }

    .rt-button {
      min-height: 45px;

      &.rt-button--icon {
        width: 45px;
        height: 45px;
      }
    }

    .rt-previous-rulings__item {
      height: 170px;
    }

    .rt-ruling__name-text {
      font-size: $fs-llg;
      bottom: 115px;
      width: 524px;
      left: 259px;
    }

    .rt-ruling__description {
      width: 540px;
      font-size: $fs-md;
      line-height: 21.6px;
      left: 259px;
    }

    .rt-ruling__summary-caption {
      padding: 0 18px;
    }

    .rt-ruling__summary {
      height: 54px;
    }

    .rt-ruling__summary-text {
      margin: 0 10px;
      font-size: $fs-mdl;
    }
  }
}